*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #c4c4c9b6;
  text-align: center;
}
.header{
    position: sticky;
    top: 3px;
    background-color: rgba(0, 0, 0, 0.763);
    color: white;
    height: 70px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.tit{
    color: rgba(193, 66, 7, 0.715);
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(210, 105, 30, 0.486);
    position: fixed;margin-top: 20px;
    left: 10px;padding: 5px;border-radius: 10px;
    border: 2px solid rgba(193, 66, 7, 0.715);
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: tomato;
    font-size: 21px;
    font-weight: bold;
    margin-left: 30px;
    padding: 5px;
}
.btn{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.btn1{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.578);
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    padding: 11px;
    border: 1.8px solid rgba(255, 255, 255, 0.282);
}
.btn1:hover{
    background-color: rgba(255, 255, 255, 0.282);
    color: rgba(255, 255, 255, 0.462);
    border: 1.8px solid rgba(255, 255, 255, 0.444);
}
.home{
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}
.home span{
    width: 25px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.578);
    border-radius: 2px;
}
.pic{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.pic img{
    width: auto;
    height: auto;
    border-radius: 25px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}
.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 0.1px solid rgba(237, 218, 8, 0.955);
    border-radius: 25px;
    margin: 20px 415px;
        background-color: rgba(255, 255, 255, 0.282);
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}
.top{
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
}
.h51{
    color: rgb(72, 5, 165);
    background-color: rgba(157, 90, 251, 0.256);
    display: inline;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 8px;
}
.h52{
    color: rgb(3, 113, 25);
    background-color: rgba(77, 250, 120, 0.256);
    display: inline;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 8px;
}
h1{
    color: rgba(248, 119, 6, 0.977);
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 36px;
}
.box1{
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 1.5px solid rgba(251, 191, 10, 0.951);
    border-radius: 15px;
    padding: 10px;
    width: 260px;
    margin: 0 auto;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.282);
}
.icon1{
    color: rgb(3, 145, 7);
    font-size: 23px;
    font-weight: bold;
}
.date1{
    color: rgb(39, 40, 39);
    font-size: 18px;
    font-weight: bold;
}
.time1{
    color: rgba(39, 40, 39, 0.589);
    font-size: 14px;
    font-weight: bold;
}
.icon2{
    color: rgb(248, 211, 4);
    font-size: 25px;
    font-weight: bold;
    padding-right: 10px;
}
.h31{
    margin-top: 20px;
    text-align: center;
    color: rgba(39, 40, 39, 0.601);
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 3px;
}

.time-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 90px;
  box-shadow: 10px 10px 50px rgba(0,0,0,0.4);
}
#tb1{
    color: white;
    background-color: rgba(12, 12, 12, 0.871);
}
.time-box span {
  font-size: 28px;
  font-weight: bold;
  display: block;
}

.time-box p {
  margin-top: 5px;
  font-size: 12px;
  color: gray;
}
#seconds, #seconds-label{
    color: tomato;
}
.register{
    margin-top: 20px;
    text-align: center;
}
.reg-btn{
    padding: 10px;
    margin-top: -10px;
    width: 400px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    border: 2px solid rgba(243, 166, 11, 0.727);
    background: linear-gradient(to right, orange,rgba(255, 166, 0, 0.596));
}
.reg-btn:hover{
    background: linear-gradient(to right, rgba(255, 166, 0, 0.774), orange);
    border: 2px solid rgba(243, 166, 11, 0.727);
    color: white;
}
.about, .contact, .grid, .speakers{
    margin: 20px 90px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.282);
    text-align: left;
    border: 2px solid rgba(244, 189, 101, 0.862);
    border-radius: 15px;    
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}
.sp4{
    color: orange;
    font-weight: bold;
    font-size: 30px;
}
ul{
    margin-top: 15px;
    margin-left: 50px;
    color: rgba(39, 40, 39, 0.629);
    font-size: 18px;
}
.h53{
    color: rgb(39, 40, 39);
    font-weight: bold;
    margin: 15px;
    margin-left: 8px;
    color: rgba(150, 146, 146, 0.951);
}
.con{
    display: flex;
    gap: 20px;
}
.name{
    color: rgb(39, 40, 39);
    font-size: 17px;
    font-weight: bold;
    margin-left: 30px;
}
.no{
    color: rgba(39, 40, 39, 0.629);
    font-size: 15px;
    margin-left: 30px;
}
.btn2{
    background-color: transparent;
    color: rgba(38, 28, 218, 0.629);
    font-size: 18px;
    cursor: pointer;
    margin-left: 300px;
    border-radius: 15px;
    padding: 11px;
    border: 1.8px solid rgba(39, 40, 39, 0.282);
}
a{
    text-decoration: none;;
}
.btn2{
    background-color: transparent;
    color: rgba(38, 28, 218, 0.629);
    font-size: 18px;
    cursor: pointer;
    margin-left: 220px;
    border-radius: 15px;
    padding: 11px;
    border: 1.8px solid rgba(39, 40, 39, 0.282);
}
.btn3{
    background-color: transparent;
    color: rgba(38, 28, 218, 0.629);
    font-size: 18px;
    cursor: pointer;
    margin-left: 195px;
    border-radius: 15px;
    padding: 11px;
    border: 1.8px solid rgba(39, 40, 39, 0.282);
}
.grid{
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.c1{
    color: rgb(2, 34, 148);
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.282);
    text-align: center;
    border: 2px solid rgba(244, 189, 101, 0.471);
    border-radius: 15px;    
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}
.a1{
    color: rgb(247, 203, 6);
    font-size: 30px;
    font-weight: bold;
}
.a2{
    color: rgb(8, 19, 223);
    font-size: 30px;
    font-weight: bold;
}
.a3{
    color: rgb(9, 255, 9);
    font-size: 30px;
    font-weight: bold;
}
.a4{
    color: rgb(250, 5, 42);
    font-size: 30px;
    font-weight: bold;
}
footer{
    position: sticky;
    bottom: 3px;
    background-color: rgba(160, 157, 157, 0.597);
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(160, 157, 157, 0.96);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; 
    border-bottom: 0px;
    align-items: center;
    display: flex;
    gap: 700px;

}
.fee{
    align-items: center;
    display: flex;
    gap: 8px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.444);
    color: rgb(12, 12, 12);
    font-size: 21px;
    font-weight: bold;
}
.speakers{
    height: 280px;
    margin: 20px 417px;
}
@media screen and (max-width: 1080px) {

  body {
    overflow-x: hidden;
  }
  .tit{
    margin: 8px;
  }

  .content,
  .about,
  .contact,
  .grid,
  .speakers {
    margin: 20px auto;
    width: 95%;
    height: fit-content;
  }

  .pic img {
    width: 80%;
    height: auto;
  }

  .reg-btn {
    width: 100%;
  }

  .countdown {
    flex-wrap: wrap;
    gap: 20px;
  }

  .time-box {
    width: 70px;
  }
  footer {
    gap: 20px;

  }
  .btn2 {
    margin-left: 80px;
  }
  .btn3 {
    margin-left: 55px;
  }
  .grid{
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .c1{
    width: fit-content;
  }
  .fee{
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .log{
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .speakers{
    height: 310px;
  }

}

